{% extends "base.html" %}

{% block content %}

<!-- One category forum table -->
<div class="container">
  <table class="table table-striped">
    <h3>Threads in category</h3>
    <thead>
      <tr>
	<th>Subject</th>
	<th>Posted by</th>
	<th>Last reply</th>
	<th>Replies</th>
      </tr>
    </thead>
    <tbody>
      <tr>
	<th><a href="#">Morty died in space</a></th>
	<th><a href="#">fisT</a></th>
	<th><a href="#">fisT</a></th>
	<th>999</th>
      </tr>
      <tr>
	<th><a href="#">Quake = best</a></th>
	<th><a href="#">toxjq</a></th>
	<th><a href="#">fisT</a></th>
	<th>666</th>
      </tr>
    </tbody>
  </table>

</div>
{% endblock %}
