{% extends "base.html" %}

{% block content %}

<!-- One category forum table -->
<div class="container">
  <table class="table table-striped">
    <h3>Categories</h3>
    <thead>
      <tr>
	<th>Name</th>
	<th>Threads</th>
	<th>Last reply</th>
	<th>Replies</th>
      </tr>
    </thead>
    <tbody>
      <tr>
	<th><a href="#">Games</a></th>
	<th><a href="#">2</a></th>
	<th><a href="#">fisT</a></th>
	<th>999</th>
      </tr>
      <tr>
	<th><a href="#">Other</a></th>
	<th><a href="#">5</a></th>
	<th><a href="#">fisT</a></th>
	<th>666</th>
      </tr>
    </tbody>
  </table>

</div>
{% endblock %}
