{% extends "base.html" %}

{% block content %}

    <div class="row message-row">
        <div class="col-xs-8 col-xs-offset-2 slide-row">
            <div class="message poster">
              <!-- Indicators -->
              <div class="message-indicators">
		
		
	      </div>
	      <!-- Wrapper for slides -->
	      <div class="message-inner">
                <div class="poster">
		  <a href="#">fisT</a>
                </div>
	      </div>
            </div>
            <div class="slide-content">
              <h4>Subject</h4>
              <p>
                My opinion is asdasddasdasdddd asd dsa ads das asd asd  das das ads asd das ads das dsa asd dsa asd das asd das das asd asd dsa dsa sda das asd dsa  sda asd asd asd sda
              </p>
            </div>
            <div class="slide-footer">
              <span class="pull-right buttons">
                <button class="btn btn-sm btn-default"><i class="fa fa-fw fa-eye"></i> Quote</button>
                <button class="btn btn-sm btn-primary"><i class="fa fa-fw fa-shopping-cart"></i> Reply</button>
              </span>
            </div>
        </div>
    </div>

    <div class="row message-row">
        <div class="col-xs-8 col-xs-offset-2 slide-row">
            <div class="message poster">
              <!-- Indicators -->
              <div class="message-indicators">
		
		
	      </div>
	      <!-- Wrapper for slides -->
	      <div class="message-inner">
                <div class="poster">
		  <a href="#">dumbguy</a>
                </div>
	      </div>
            </div>
            <div class="slide-content">
              <h4> </h4>
	      <br>
              <p>
                uR OPINon is wrong idiet
              </p>
            </div>
            <div class="slide-footer">
              <span class="pull-right buttons">
                <button class="btn btn-sm btn-default"><i class="fa fa-fw fa-eye"></i> Quote</button>
                <button class="btn btn-sm btn-primary"><i class="fa fa-fw fa-shopping-cart"></i> Reply</button>
              </span>
            </div>
        </div>
    </div>

    {% endblock %}
